/* body html*/
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Main content area */
#content {
  background-image: url(../imagens/background.png);
  width: 880px;
  height: 660px;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: absolute;
}

#iniciar {
  background-image: url(../imagens/background-inicio.png);
  width: 880px;
  height: 660px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 12;
}

#iniciar_btn {
  background: url(../imagens/btn-iniciar.png);
  width: 880px;
  height: 74px;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  transition: 0.3s background ease-in;
}

#iniciar_btn:hover {
  background: url(../imagens/btn-iniciar-hover.png);
}

#instrucao {
  background-image: url(../imagens/instrucoes.png);
  width: 880px;
  height: 660px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 11;
}

#instrucao_video {
  width: 280px;
  height: 200px;
  margin: 260px auto;
  padding: 0;
}

#instrucao_btn {
  background: url(../imagens/btn-entendi-ativo.png);
  width: 880px;
  height: 74px;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  transition: 0.3s background ease-in;
}

#instrucao_btn:hover {
  background: url(../imagens/btn-entendi-sobre.png);
}

/* Overlay */
#blackBox {
  width: 880px;
  height: 660px;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -ms-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
}

/* Drop central area */
#cardSlots {
  top: 0;
  position: absolute;
  position: absolute;
  width: 880px;
  height: 660px;
  margin: auto;
}
#cardSlots .ui-draggable {
  height: 100% !important;
}

/* Individual cardsDrop */
#cardSlots > div {
  border: 1px dashed #cacaca;
  background-color: white;
  border-radius: 2px;
}
.ui-droppable {
  padding: 0 !important;
}

/** background image title **/
#cardDrop1 {
  background-image: url(../imagens/quem.png);
}
#cardDrop2 {
  background-image: url(../imagens/recursos.png);
}
#cardDrop3 {
  background-image: url(../imagens/entradas.png);
}
#cardDrop5 {
  background-image: url(../imagens/saidas.png);
}
#cardDrop6 {
  background-image: url(../imagens/como.png);
}
#cardDrop7 {
  background-image: url(../imagens/indicadores.png);
}

/** top bottom **/
#cardDrop1,
#cardDrop2 {
  width: 240px;
  height: 180px;
  float: left;
  margin-top: 12px;
}
#cardDrop6,
#cardDrop7 {
  margin-top: 18px;
  width: 240px;
  height: 180px;
  float: left;
}
/* just margin left*/
#cardDrop1,
#cardDrop6 {
  margin-left: 184px;
}
#cardDrop2,
#cardDrop7 {
  margin-left: 31px;
}
/** middle **/
#cardDrop3 {
  width: 240px;
  height: 180px;
  float: left;
  margin-top: 27px;
  margin-left: 13px;
}
#cardDrop4 {
  width: 314px;
  height: 199px;
  float: left;
  margin-top: 18px;
  visibility: hidden;
  margin-left: 29px;
  border: none !important;
  background-color: transparent !important;
}
#cardDrop5 {
  width: 240px;
  height: 180px;
  float: left;
  margin-top: 26px;
  margin-left: 30px;
}

/* Drag central area */
#cardPile {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  bottom: -395px;
  width: 720px;
  height: 375px;
  left: 70px;
  padding: 14px 0 5px 14px;
  background: #2ea1cd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: bottom 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: bottom 0.3s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: bottom 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: bottom 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: bottom 0.3s cubic-bezier(0, 0, 0.2, 1);
}

/* Individual cardsDrag */
#cardPile div {
  width: 221px;
  height: 161px;
  margin-left: 10px;
  margin-top: 8px;
  background: #ffffff;
  float: left;
  text-align: center;
  color: #403f3f;
  font-size: 20px;
  display: inline-grid;
}
div[id^="cardDrag"] {
  cursor: pointer;
}
div[id^="cardDrag"] p.dropTitle {
  margin: 0 auto;
  font-size: 16px;
  color: #5c5c5c;
  padding: 5px;
  padding-top: 15px;
  font-weight: 700;
  font-style: normal;
  pointer-events: none;
}
div[id^="cardDrag"] p.dragText {
  color: #5b5b5b;
  font-size: 12px;
  margin-top: 0px;
  padding: 8px;
  pointer-events: none;
}

/** when the div drag hasclass **/
div[id^="cardDrag"].ui-draggable-dragging,
.Titledrop {
  display: grid;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

/* when check wrong */
.arrow_box {
  bottom: -45px;
  right: 23%;
  width: 132px;
  height: 32px;
  z-index: 1;
  border-radius: 2px;
  position: absolute;
  background: #e84c3c;
}
.arrow_box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(232, 76, 60, 0);
  border-bottom-color: #e84c3c;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box_bottom {
  top: -44px;
  right: 23%;
  width: 132px;
  height: 32px;
  z-index: 1;
  border-radius: 2px;
  position: absolute;
  background: #e84c3c;
}
.arrow_box_bottom:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #e84c3c;
  border-width: 10px;
  margin-left: -10px;
}
.logo {
  margin: 17px auto;
  padding: 0;
  color: #ffffffff;
  text-align: center;
  font-size: 14px;
  line-height: 0px;
  font-weight: normal;
  pointer-events: none;
}

/* menu dragPile*/

#menuPile {
  left: 70px;
  width: 734px;
  height: 34px;
  background-color: #2ea1cd;
  color: #ffffff;
  bottom: 0;
  position: absolute;
  z-index: 10;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
#menuPile i {
  margin-top: 2px;
  margin-left: 10px;
  font-size: 20px;
  float: left;
  padding: 6px;
}
#menuPile span {
  padding: 6px;
  float: none;
  margin-left: -30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  line-height: 36px;
}

/* buttons verfication and download*/
#buttons {
  top: 35px;
  position: absolute;
  right: 0;
}
#check {
  display: none;
  width: 123px;
  height: 40px;
  cursor: pointer;
  background-color: #ff8c28;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}
#check h5,
#download h5 {
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 100;
}
#download {
  display: none;
  width: 123px;
  height: 40px;
  color: #ffffff;
  font-size: 13px;
  background-color: #f47953;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}
#download a {
  text-decoration: none;
}

/* info and dates*/

#informacoes {
  position: absolute;
  bottom: 76px;
  height: 127px;
  width: 152px;
  left: 13px;
}
#datas {
  position: absolute;
  bottom: 76px;
  height: 127px;
  width: 152px;
  right: 13px;
}
.info,
.data {
  margin-top: 2px;
  width: 152px;
  height: 63px;
  background-color: #fff;
}
.h3Title {
  margin: 0;
  padding: 12px 0 0 0;
  color: #646464;
  font-size: 13px;
}
.pText {
  margin: 0;
  padding: 5px 0 0 0;
  color: #646464;
  font-size: 13px;
}

/* form name */

/* Outer */
.popup {
  z-index: 11;
  width: 880px;
  height: 660px;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
}

/* Inner */
.popup-inner {
  max-width: 300px;
  width: 45%;
  padding: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 3px;
  background: #f2f2f2;
}
.popup-inner h2 {
  color: #6d6d6d;
}
.enviar {
  margin: 20px auto;
  width: 56px;
  background: #2ea1cd;
  padding: 6px 15px;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  font-size: 18px;
  background-color: rgba(219, 219, 219, 0.69);
  color: #646464;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-required {
  border-color: red !important;
}
